body {
    background-color: pink;
}
#table1,tr,td,th {
    border: 7px inset lightcoral;
    margin-right: auto;
    margin-left: auto;
}

#dd {
    width: 20px;
}
#yyyy {
    width: 50px;
}
#legend1{
    color: red;
    
}

#fieldset1 {
    border: 3px solid black;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

#login1 {
    text-align: left;
}
